*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    color: white;
    font-size: larger;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}
.navhead{
    font-size: 35px;
    letter-spacing: 1px;

}
li{
    display: flex;
    float: inline-start;
    overflow: hidden;
}
li a{
    padding: 15px;
    display: block;
    color: white;
}
li a:hover{
    color: aqua;
}
.contact_btn{
    padding: 10px 30px;
    color: black;
    margin-left: 8rem;
    background-color: aqua;
    border-radius: 30px;
    font-size: large;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.contact_btn:hover{
    color: white;
    border: 3px solid aqua;
    background: transparent;


}
.checkbtn{
    font-size: 30px;
    float: right;
    margin-right: 30px ;
    cursor: pointer;
    display: none;
}
.checkbox{
    display: none;
}

@media  and ( max-width: 952px ) {
    .nav_head
    {
        font-size: 30px;
    }
    nav li a{
        font-size: 18px;
    }
    nav.contact btn{
        margin-left: 20px;

    }
}
@media  and(max-width:820px) 
{
    .checkbtn
    {
        display: block;
        margin-left: 150px ;
    }
    .nav_head
    {
       padding-left: 10px;

    }
    nav ul
    {
        z-index: 1000;
        position: fixed;
        width: 60%;
        height: 50vh;
        background-color:black ;
        top: 50px; right: 0%;
        padding: 20px;
        transition: all .5s;

    }
    nav li
    {
     text-align: center;
     display: block;
     float: left;
     width: 330px;
     height: 60px;
     padding: 5px;
    }
    nav.contact_btn
    {
        width: 90%;
    }
    nav li a
    {
        font-size: 20px;
        color: white;
    }
    .checkbox:checked ~ ul
    {
        right: 0px;
    }
}